
@{
    ViewBag.Title = "Alta";
}

<h2>Alta</h2>

<form action="/Alimento/DarAlta" method="post">
    <input type="text" name="nombre"/>
    <input type="text" name="peso"/>
    <input type="submit" value="Enviar"/>
</form>